{% extends "html/base.twig" %}

{% block header %}
    <a class="header-link" href="/cards">Cards</a>
    <a class="header-link" href="/sets">Sets</a>
    <span class="header-space"></span>
    <a class="header-link" href="/logout">Logout</a>
{% endblock %}
