{% extends "html/base.twig" %}

{% block styles %}
    <link href="/css/cards.css" rel="stylesheet">
{% endblock %}

{% block main %}
{% verbatim %}
<div id="app" v-cloak>
    <a class="card-link" href="/cards/add">&raquo; Add new card</a>

    <ul>
        <li v-for="c in cards" :key="c.id">
            <a class="card-link" :href="'/cards/' + c.id">
                &raquo; {{ c.name }}
            </a>
        </li>
    </ul>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
    <script type="module" src="/js/cards.js"></script>
{% endblock %}
