{% extends "html/base-logged-in.twig" %}

{% block main %}
{% verbatim %}
<main id="app" class="main--padded" v-cloak>
    <div class="arcs-loader" v-if="!isFirstLoadComplete"></div>

    <template v-if="isFirstLoadComplete">
        <div class="cards-list">
            <a class="link" href="/cards/add">Add new card</a>

            <ul v-if="cards.length">
                <li v-for="c in cards" :key="c.id">
                    <a class="link" :href="'/cards/' + c.id">
                        {{ c.name }}
                    </a>
                </li>
            </ul>
        </div>
    </template>
</main>
{% endverbatim %}
{% endblock %}

{% block scripts %}
    <script type="module" src="/js/cards.js"></script>
{% endblock %}
