{% extends "html/base-logged-in.twig" %}

{% block styles %}
    <link href="/css/set.css" rel="stylesheet">
{% endblock %}

{% block main %}
{% verbatim %}
<main id="app" class="main--padded" v-cloak>
    <div class="arcs-loader" v-if="!isFirstLoadComplete"></div>

    <section class="set-section" v-if="isFirstLoadComplete">
        <div class="set-editor">
            <input type="text" :maxlength="maxLengths.name" name="name" placeholder="Set Name"
                class="set-editor__name"
                v-model="set.name"
                @keydown.enter="save"
            >

            <button type="button" class="button" @click="save"
                :disabled="!isSaveEnabled"
            >Save</button>
        </div>

        <div class="cards-list" v-if="set.id !== null">
            <a class="link" :href="'/cards/add?set=' + set.id">Add new card</a>

            <ul v-if="cards.length">
                <li v-for="c in cards" :key="c.id">
                    <a class="link" :href="'/cards/' + c.id">
                        {{ c.name }}
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endverbatim %}
{% endblock %}

{% block scripts %}
    <script type="module" src="/js/set.js"></script>
{% endblock %}
