{% extends "html/base-logged-in.twig" %}

{% block main %}
{% verbatim %}
<main id="app" class="main-padded" v-cloak>
	<div class="arcs-loader-container" v-if="!isFirstLoadComplete">
		<div class="arcs-loader"></div>
	</div>

    <template v-if="isFirstLoadComplete">
        <div class="sets-list">
            <a class="link" href="/sets/add">Add new set</a>

            <ul v-if="sets.length">
                <li v-for="s in sets" :key="s.id">
                    <a class="link" :href="'/sets/' + s.id">
                        {{ s.name }}
                    </a>
                </li>
            </ul>
        </div>
    </template>
</main>
{% endverbatim %}
{% endblock %}

{% block scripts %}
    <script type="module" src="/js/sets.js"></script>
{% endblock %}
