

.iteration-reel__iteration:first-of-type {
    border-top: 1px solid black;
}
.iteration-reel__iteration {
    padding: 1rem;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.iteration-reel__iteration--current {
    background: #ccc;
    cursor: default;
}

.iteration-reel__iteration:not(.iteration-reel__iteration--current):hover {
    background: #ddd;
    cursor: pointer;
}

.card-editor {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-editor__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.card-editor__line--enflowable-burden,
.card-editor__line--attack-defense {
    justify-content: space-between;
}

.card-editor__line--save {
    justify-content: center;
}

.card-editor__name {
    flex: 1;
}

.card-editor__affinity {
    width: 100px;
}

.card-editor__rules-text {
    flex: 1;
    height: 200px;
    padding: 0.25rem;
}

.card-editor__life,
.card-editor__burden,
.card-editor__cost,
.card-editor__attack,
.card-editor__defense {
    width: 50px;
}

.card-editor__save {
    padding: 2px 8px;
    cursor: pointer;
}
