:root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

main {
    flex: 1;
}

[v-cloak] {
    display: none;
}

.link {
	text-decoration: none;
}
.link,
.link:visited {
	color: blue;
}
.link:hover {
	color: red;
}

.button {
    padding: 0.125rem 0.5rem;
    cursor: pointer;
}
