:root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #030617;
    display: flex;
}

.header-link {
    padding: 1rem;
    text-decoration: none;
}
.header-link,
.header-link:visited {
    color: white;
}
.header-link:hover {
    color: red;
}

.header-space {
    flex: 1;
}

main {
    flex: 1;
}

[v-cloak] {
    display: none;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cards-list li {
    list-style-type: none;
}

.link {
	text-decoration: none;
}
.link,
.link:visited {
	color: blue;
}
.link:hover {
	color: red;
}

.button {
    padding: 0.125rem 0.5rem;
    cursor: pointer;
}
